
:root {
	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

:root {
	display: grid;
	grid-template:
		100%
		/ 100%;
	min-height: 100%;

	background: linear-gradient(146deg, #85beaf, #e3f17d) fixed;

	transition-timing-function: var(--ease-out-expo);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration-color: inherit;
	min-width: 0;
	gap: inherit;
	outline-color: var(--primary-color);
	outline-width: 1px;
	/* scroll-behavior: smooth; */
	transform-style: inherit;
	transition-duration: inherit;
	transition-timing-function: inherit;
}

body {
	width: 100%;
	display: grid;
	grid-template:
		auto
		1fr
		auto
		/ 60rem;
	justify-content: center;
	min-height: 100%;
	gap: 2rem;

	font-family: 'Manrope-Variable', sans-serif;
	margin: auto;

	overflow: clip auto;

	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

body > div > main {
	display: grid;
	align-content: start;
	gap: 1rem;
	isolation: isolate;
}

body > div > header,
body > div > footer {
	position: sticky;
	padding: 1.5rem 2rem;
	z-index: 1;
}
body > div > header {
	top: 0;
}
body > div > footer {
	bottom: 0;
}
body > div > header:before, body > div > footer:before {
	content: '';
	position: absolute;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.1);
	inset: 0 -100vw;
	backdrop-filter: blur(25px);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: 900;
	color: #222;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}

a {
	color: #3273dc;
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}

dl {
	display: grid;
	gap: 0;
}
dl > * {
	display: grid;
	grid-template:
		auto
		/ auto 1fr;
	gap: 0.5rem;
}

label {
	cursor: pointer;
}

pre {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 0.75rem;
	border-radius: 0.5rem;
	white-space: pre-wrap;
	max-height: 20.5rem;
	overflow-y: auto;
}

hr {
	background: none;
	border: none;
	border-bottom: currentColor 1px solid;
	opacity: 0.25;
}

output {
	background-color: rgba(255, 255, 255, 0.3);
	font-family: monospace;
	border-radius: 0.5rem;
	line-height: 1em;
	padding: 0.5rem;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
