* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration-color: inherit;
	min-width: 0;
	gap: inherit;
	outline-color: var(--primary-color);
	outline-width: 1px;
	/* scroll-behavior: smooth; */
	transform-style: inherit;
	transition-duration: inherit;
	transition-timing-function: inherit;
}

:root {
	background: linear-gradient(146deg, #85beaf, #e3f17d);
	min-height: 100%;
}

body {
	font-family: 'Manrope-Variable', sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: 900;
	color: #222;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}

a {
	color: #3273dc;
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
