---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h1>
		{SITE_TITLE}
	</h1>

	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/apps">Apps</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header>

<style>
	h1 {
		list-style-type: list-item;
		position: relative;
		color: rgba(0, 0, 0, 0.8);
	}
	h1::before {
		content: '🧭';
		position: absolute;
		right: calc(100% + 1rem);
	}
</style>
