---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import WithState from '../components/WithState.svelte'

import PcaPlot from '../components/PcaPlot.svelte'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<style>
			main {
				align-content: stretch;
				grid-template:
					auto
					1fr
					/ 100%;
			}
		</style>
	</head>

	<body>
		<Header title={SITE_TITLE} />

		<main>
			<h2>DeFi Explorer</h2>

			<!-- <WithState client:visible> -->
				<PcaPlot client:visible />
			<!-- </WithState> -->
		</main>

		<Footer />
	</body>
</html>
